%title-content{
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    font-size: 43px;
    line-height: 120%;
    color: #06071C;
}

%text-content{
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: #06071C;
    opacity: 0.5;
}




@media (max-width: 575.98px){}
@media (max-width: 767.98px){}
@media (max-width: 991.98px) {}
@media (max-width: 1199.98px) {}
@media (max-width: 1365.98px) {}
@media (max-width: 1529.98px) {}